.image_size {
    margin: auto;
    margin-top: 20px;
    width: 1450px;
}


/* -------nav bar ------ */

.nav_hover :hover {
    background-color: red;
    border-radius: 4px;
    color: white;
}


/* ------news-------- */

#News_section {
    /* display: grid; */
}

.News_left_section {
    float: left;
}

.News_right_section {
    float: right;
}


/* ----------- last banner ------------ */

.last_banner {
    background: url(image/poster0.jpg) no-repeat;
    width: 1250px;
    height: 13rem;
    margin-top: 10px;
    clear: both;
}


/* -------footer----------- */

.footer_grid_layout {
    width: 100%;
    height: 50%;
    clear: both;
}

.footer_col {
    width: 20%;
    height: 30vh;
    margin: 10px;
    padding-top: 35px;
    font-size: 100%;
}

.footer_row>a {
    text-decoration: none;
    color: white;
}

.footer_row>a :hover {
    color: rgb(85, 84, 84);
    transition: 1.1s;
}

.social_media>a {
    font-size: 150%;
    color: rgb(85, 84, 84);
}

.link_hover>a :hover {
    color: rgb(208, 207, 207);
    transition: 1.1s;
}

.last_section_footer>div>a {
    text-decoration: none;
    color: rgb(85, 84, 84);
}

.last_section_footer>div>a:hover {
    color: white;
    transition: 1.1s;
}